@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=DM+Serif+Display:ital@1&display=swap');
h1{
    text-align:left;
    font-family: 'DM Serif Display', serif;;
    color:white ;
}
body{
background-image: url('../html_works/media/strangerthings.jpg');
}
.a1{
    padding-top: 60px;
}
.c{
    height: 400px;
    width: 30%;
    border:solid white 2px;
    margin-left: 120px;
    margin-top: 20px;
    float: left;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    margin-right: 0;
}
.c *{
    margin: 0;
    padding: 0;

}

.c1{
    height: 300px;
    width: 255px;
    margin-left: 120px;
    margin-top: 20px;
}
.c2{
    height: 300px;
    width: 255px;
    margin-left: 50px;
    margin-top: 20px;
}
.c3{
    height: 300px;
    width: 255px;
    margin-left: 50px;
    margin-top: 20px;
}
.c4{
    height: 300px;
    width: 255px;
    margin-left: 50px;
    margin-top: 20px;
}
.c5{
    height: 300px;
    width: 255px;
    margin-left: 120px;
    margin-top: 20px;
}
.c6{
    height: 300px;
    width: 255px;
    margin-left: 50px;
    margin-top: 20px;
}
.c7{
    height: 300px;
    width: 255px;
    margin-left: 50px;
    margin-top: 20px;
}
.c8{
    height: 300px;
    width: 255px;
    margin-left: 50px;
    margin-top: 20px;
}
img{
    height: 300px;
    width: 255px;
    border-radius: 20px;
}
.c:hover .overlay{
    
opacity: 1;
}
.c:hover{
    box-shadow: 0px 10px 15px 0 rgb(137, 136, 136), 0 20px 30px 0 rgb(137, 134, 134);
}

.navbar{
    background-color: #f4f4f4;
    margin: -8px;
}
ul{
list-style-type: none;
margin: 0;
padding: 0px;
overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    
}
li a:hover
{
    background-color: #555;
}
.overlay{
    
background-color: rgba(197, 212, 222, 0.779);
justify-content: center;
align-items: center;
opacity: 0;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;

}
